body {
    font-family: 'Domine', serif;
}

/* Containers  esses containers sao do features - cor de escrita e fundo- isso tambem deve ser incluido no html - linha 128 */

.container-wrapper--red {
 background-color: #e42f0f;
    color: black;

}

.callout-container {
    height: 100vh;
/* copiei e colei do site- perfect full page background image-css tricks */
    background: url('../images/whisky-image.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
/* esse opaque overlay usa a imagem toda sem deixar falhas e na position:relative nao deixa espacos- em cima*/
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(26, 25, 25, 0.411);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar - sao barras de navegacao- onde click e entra */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    /* esse z-index: 1 eh usado quando o conteudo esta por debaixo de outro, entao coloca-se para ele sobrepor a imagem ou cor */
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(26, 25, 25, 0.411);
    border: 0;
}
/* esse Navbar-toggler - eh a navegacao de tres botoes, coloca-se a borda a zero para ele se difundir com o resto do conteudo para mobile. */
.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/* Jumbotron  eh a escrita por cima da imagem*/

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #c4c11a;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #c4c11a;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--red {
    background-color: #e42f0f;
}

.block-divider--black {
    background-color: black;
}

.block-divider--short {
    width: 35px;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #e42f0f;
    border-color: #e42f0f;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/* Alert - esse col-12 eh a coluna inteira do alerta de cima. coloca-se padding left e right 0 para que ocupe todo o espaco da tela */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
     color: black;
    background-color: #ece92c;
    border-color: #ece92c;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

/* Page Headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Quotes */

.quotes .page-header {
    margin-bottom: 25px;
    
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
    color: black;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: #fa0505;
    border-color: #fa0505;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}